DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fin_game?schema=public"
NEXT_PUBLIC_PUSHER_KEY="your-pusher-key"
NEXT_PUBLIC_PUSHER_CLUSTER="mt1"
PUSHER_APP_ID="your-pusher-app-id"
PUSHER_SECRET="your-pusher-secret"
DATABASE_PASSWORD="C!8XNrrhwk(,H3T{"